@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes explode {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(4);
      opacity: 0;
    }
  }
  
  .explosion {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background: radial-gradient(circle, red, orange, yellow);
    border-radius: 50%;
    animation: explode 1s ease-out forwards;
    z-index: 50;
    pointer-events: none;
  }
  